---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import { postCards } from "../../utils/fetchData";
---

<Layout title="News & Community">
  <div
    class="bg-white px-6 py-4 sm:py-6 lg:px-8 rounded-xl mx-auto max-w-[65ch]"
  >
    <div class="mx-auto text-center">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900">
        News & Community
      </h2>
      {
        postCards && postCards.length > 0 && (
          <p class="mt-6 text-lg leading-8 text-gray-700">
            Catch up on what's been happening
          </p>
        )
      }
      {
        !postCards ||
          (postCards.length < 1 && (
            <p class="mt-6 text-lg leading-8 text-gray-700">No posts yet</p>
          ))
      }
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        {
          postCards &&
            postCards.map((card, index) => (
              <PostCard lazy={index < 2 ? false : true} {...card} />
            ))
        }
      </div>
    </div>
  </div>
</Layout>
