---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ConsentScripts from "../components/ConsentScripts.astro";
import PrivacyBanner from "../components/PrivacyBanner.astro";
import { pages } from "../utils/fetchData";
import MetaHeadings from "../components/MetaHeadings.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MetaHeadings {title} />
  <body class="bg-themeColor font-poppins flex flex-col min-h-screen">
    <nav>
      <Navbar pages={pages} />
    </nav>
    <main class="container mx-auto mb-10">
      <slot />
    </main>
    <Footer />
    <PrivacyBanner />
  </body>
</html>

<ConsentScripts />

<style is:global>
  @font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/poppins-v21-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/poppins-v21-latin-600.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/poppins-v21-latin-700.woff2") format("woff2");
  }
</style>
