---
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import type { PostProps } from "../../components/PostCard.astro";

let data = await fetch(`${import.meta.env.GRAPHQL_ENDPOINT}`, {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
    {
      posts(where: {categoryName: "meetups"}) {
        nodes {
          id: databaseId
          slug
          title(format: RENDERED)
          date
          excerpt(format: RENDERED)
          featuredImage {
            node {
              sourceUrl(size: MEDIUM)
            }
          }
        }
      }
    }
    `,
  }),
});

const posts = await data.json();
const postList = posts.data.posts.nodes;
---

<Layout title="Events">
  <section
    class="p-10 prose lg:prose-xl prose-a:text-blue-700 prose-h1:text-4xl"
  >
    <h1 class="text-center text-white">Events</h1>
    {
      !postList ||
        (postList.length == 0 && (
          <main>
            <h2>No events yet.</h2>
          </main>
        ))
    }
    {postList && postList.map((post: PostProps) => <PostCard post={post} />)}
  </section>
</Layout>
